body {
    font-family: roboto, sans-serif;
    height:100vh;
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 0;
    flex: 1;
}

ul {
    list-style: none;
    color: #f9faf8;
    display: flex;
    justify-content: flex-end;

    
    gap: 40px;
    margin: auto;
   
}

.header{
    display: flex;
    
   padding: 2vh 20vw;
    justify-items: center;
    align-items: center;
    
    
    
    
}

.hero {
    padding: 2vh 20vw;
   margin: auto;
   display: flex;
   justify-content: center;
     gap: 100px;
     margin: auto 0;
     flex-grow: 1;
    
}




.hero_left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    
    
   
}

.hero_right {
    display:flex;
    
    justify-content: flex-end;
    
    flex: 1;
    
   
    
   
}

.placeholder {
    background-color: gray;
    display: flex;
    align-items: center;
    padding: 75px 100px;
    margin: auto 0;
    flex-shrink: 1;
}





.hero, 
.footer,
.header {
background-color: #1f2937;


}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    
    
}

.subtitle {
    font-size: 18px;
    color: #e5e7eb;
    
}

.logo{ 
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-grow: 1;
}

button,
.sign-up {
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 18px;
    padding: 5px 30px;

}

.header_button {
    border: 2px solid #3882f6;
}

.footer_button {
    border: 2px solid white;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 20vw;
   margin: auto;
    
    gap: 70px;
    flex: 1;
   
}

.image_list{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
   
    
}


.photo_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex: 1;

}
.photo_square {
    display: flex;
  
   height: 100px;
   width: 100px;
   
   
  
    
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.content_header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
   
    
}


.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1f2937;
    padding: 2vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex: 1;
    
}



.attribution {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    
    margin-top: 0;
}

.sign-up{
    display: flex;
    padding: 2vh 7vw;
    background-color: #f9faf8;
    justify-content:space-between;
    flex: 1;
}
.sign-up_box {
    display: flex;
padding: 20px ;
   
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 20px;
    margin: auto;
    flex-basis:60vw;
    
    
}

.sign-up_header {
font-size: 16px;


}
.sign-up_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
   
}

.sign-up_button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.footer_button {
    
}

.footer {
    color:#f9faf8;
    display: flex;
    justify-content: center;
    padding: 3vh;

}